


body{
	background-color: #ACB799;
	margin: 0;
}


canvas {
	z-index: 1;
}

#Player1Score {
	color: #4D573D;
	font-family: 'East Sea Dokdo', cursive;
	font-size: 500%;
	position: absolute;
	top: 100px;
	left: 480px;
	z-index: 2;
	font-weight: 700;
}

#Player2Score {
	color: #4D573D;
	font-family: 'East Sea Dokdo', cursive;
	font-size: 500%;
	position: absolute;
	top: 100px;
	left: 1000px;
	z-index: 2;
	font-weight: 700;
	
}

#Title {
	color: #4D573D;
	font-family: 'East Sea Dokdo', cursive;
	font-size: 400%;
	position: absolute;
	top: 10px;
	left: 675px;
	z-index: 2;
	font-weight: 700;
	
}

#PlayerTeam {
	color: #fff;
	font-family: 'East Sea Dokdo', cursive;
	position: absolute;
	top: 60px;
	left: 500px;
	transform: translateX(-50%);
	z-index: 2;
}

#WhoseTurn {
	color: #fff;
	font-family: 'East Sea Dokdo', cursive;
	font-size: 200%;
	position: absolute;
	top: 110px;
	left: 500px;
	transform: translateX(-50%);
	z-index: 2;
}

#Controls {
	color: #fff;
	font-family: 'East Sea Dokdo', cursive;
	font-weight: 500;
	position: absolute;
	max-width: 1000px;
	top: 10px;
	left: 500px;
	transform: translateX(-50%);
	z-index: 2;
}

